In [88]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [89]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [90]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [91]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract
from enum import Enum
# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
# These obviously found only one June.
# month_start = dt.date(2017, 6, 1)
# month_end = dt.date(2017, 6, 1) + dt.timedelta(days=29)

JAN = 1
FEB = 2
MAR = 3
APR = 4
MAY = 5
JUN = 6
JUL = 7
AUG = 8
SEP = 9
OCT = 10
NOV = 11
DEC = 12

#  3. Convert the June temperatures to a list.
results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

In [92]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results, columns=['date','June Temperature'])

In [93]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

       June Temperature
count       1700.000000
mean          74.944118
std            3.257417
min           64.000000
25%           73.000000
50%           75.000000
75%           77.000000
max           85.000000

## D2: Determine the Summary Statistics for December

In [94]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
month_to_search_for = 12

In [95]:
# 7. Convert the December temperatures to a list.
results_dec = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==DEC).all()

In [100]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df_dec = pd.DataFrame(results_dec, columns=['date','Dec Temperature'])

In [101]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df_dec.describe()

       Dec Temperature
count      1517.000000
mean         71.041529
std           3.745920
min          56.000000
25%          69.000000
50%          71.000000
75%          74.000000
max          83.000000

In [98]:
# Check the most active station
session.query(Measurement.station, func.count(Measurement.station)).\
    group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [102]:
results = session.query(Measurement.tobs).\
    filter(Measurement.station == 'USC00519281').\
    filter(extract('month', Measurement.date)==JUN).all()

In [104]:
df = pd.DataFrame(results, columns=['June Temperature'])

In [105]:
df.describe()

       June Temperature
count        236.000000
mean          73.271186
std            2.989801
min           65.000000
25%           71.000000
50%           73.000000
75%           75.000000
max           82.000000

In [109]:
results_dec = session.query(Measurement.tobs).\
    filter(Measurement.station == 'USC00519281').\
    filter(extract('month', Measurement.date)==DEC).all()

In [110]:
df_dec = pd.DataFrame(results_dec, columns=['June Temperature'])

In [112]:
df_dec.describe()

       June Temperature
count        217.000000
mean          69.903226
std            3.803609
min           58.000000
25%           68.000000
50%           70.000000
75%           73.000000
max           79.000000